
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  font-family: "Work Sans";
  background-color:  #eff4f9  ;
  /*cursor: url('../circle-cursor.png');*/
  /*cursor: url('/Users/ceciliaknaub/Documents/GitHub/hypertext/circle-cursor.svg'), auto; */
  cursor: url('../circle-cursor.svg'), auto;
}

a:link {
  text-decoration: none;
  background-color: #eff4f9;
  opacity: 50%;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover{
  background-color: gold;
  opacity: 100%;
  cursor: url('../circle-cursor.svg'), auto;
  width: fit-content;
}


nav {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  padding-right: 10px
}

/* Index */
.container-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.container-header {
  display: flex;
  flex-direction: row;
  margin-top: 0%;
}


.feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-feed {
  font-size: large;
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  margin: 1%
}

#top-link:link {
  text-decoration: none;
  background-color: #eff4f9;
  opacity: 100%;
  color: black;
}

/* Distance */

.container-distance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

/* Steps */

.container-4-15-23 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.center-4-15-23 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 50%;
  height: 100%;
}


.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1%;
  width: 75%;
  height: 100%;
}

.right p {
  margin: 0;
}

h1 {
  margin-left: 1%;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
}

.center-routine {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-items: center;
  
}

.set {
  margin: 10px;
}

.set p {
  margin: 0px;
}

.container-trends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.inner-trends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 33%;
  width: 33%;
}